extends layout 

block content
    each post in all_posts 
        div(style="border: 1px solid black; padding: 30px;")
            h1
                a(href=post.url)(style="color: black; text-decoration: none")  #{post.title}
            p Creation date: #{post.creation_date}
            p #{post.text}