extends layout 

block content 
    div(style="border: 1px solid black; padding: 30px;")
        h1 #{post.title}
        p #{post.text}
        p #{post.creation_date}
    p comments:
    ul
        each message in messages_list
            li #{message.text}